<p></p>
<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{ currEvent.name || 'No name yet...' }}
				</h3>
			</div>
			<div class="panel-body">

				<div class="media">
					<div class="media-left">
						<div class="event-thumb"
							style="background-image: url(images/ava.png)"></div>
					</div>
					<div class="media-body">
						<p class="description">{{ currEvent.description || 'No description yet...' }}</p>
					</div>
				</div>
					
				<h3>Details</h3>

				<ul class="list-group">
					<li class="list-group-item">
						<strong>Author: </strong>
						<a ui-sref="user({id:currEventAuthor.id})">{{ currEventAuthor.name || 'No author yet...' }}</a>
					</li>
					<li class="list-group-item">
						<strong>Where: </strong>
						{{ currEvent.placeScheduled || 'No place yet...' }}
					</li>
					<li class="list-group-item">
						<strong>When: </strong>
						{{ currEvent.timeScheduled | date:'mediumDate' || 'No time yet... '}}
					</li>
				</ul>
				
				<h3>Items needed <small><a ui-sref="help({ id:currEvent.id })"> Help this event </a></small></h3>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Item Name</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in currEventItems">
								<td>{{ item.name }}</td>
								<td>{{ item.description || "No description for this item..." }}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<button ng-click="toggleNewNeededItemForm()" ng-show="!visibleNewNeededItemForm" class="btn btn-success">Add more needed items</button>
				<form ng-show="visibleNewNeededItemForm" name="newItemForm" ng-submit="addNeededItem()">
					<h3>Add more needed items <a ng-click="toggleNewNeededItemForm()"><small>hide</small></a></h3>
					<div class="form-group">
						<input class="form-control" ng-model="newNeededItem.name" type="text" name="name" placeholder="Item name" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" ng-model="newNeededItem.description" cols rows="3" name="description" placeholder="(optional) Item description"></textarea>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary" value="">Add New Needed Item</button>
					</div>
				</form>


				<h3>Comments</h3>

				<ul class="list-group">
					<li ng-repeat="comment in currEventComments" class="list-group-item list-group-item-success">
					<strong>{{ comment.authorName }}</strong> on <strong>{{ comment.timeCreated|date:'mediumDate' }}</strong>
					<p>{{ comment.content }}</p>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>
