<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		
		<div class="row">
			<div class="page-header text-center">
				<h1>explore our <span class="hl-word">events</span></h1>
				<p>all events are divided into categories, so that you can choose which you like</p>
			</div>
		</div>

		<div class="row events-search">
			<form class="form-horizontal">
				<div style="width:100%;" class="input-group">
					<input type="text" class="form-control" placeholder="Search for events..." ng-model="filterBy.search"> 
					<span style="font-size: 14px; line-height: 1.4; padding: 0 12px;" class="input-group-addon">
						in 
						<select
							name="category"
							ng-model="filterBy.category"
							ng-options="c.name for c in categories">
						</select>
					</span>
				</div>
				<div class="form-group col-sm-3">
					<input ng-model="filterBy.startDate" type="date" class="form-control" id="inputDateFrom" >
				</div>
				<div class="form-group col-sm-3">
					<input ng-model="filterBy.endDate" type="date" class="form-control" id="inputDateTo">
				</div>
				<div class="form-group col-sm-3">
					<label class="control-label">sorted by: </label>
					<select name="orderProp"
							ng-model="order"
							ng-init="order=orderProperties[0].value">
						<option ng-repeat="prop in orderProperties" 
								value="{{prop.value}}">
							{{ prop.name }}
						</option>
					</select>
				</div>
			</form>
		</div>

	</div>

	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="row events-grid">
			<div class="media event-item" ng-repeat="event in events | orderBy: order | filter: {name : filterBy.search} | events:filterBy">
				<div class="media-left">
					<a ui-sref="event">
						<div class="event-thumb" ng-style="
							{'background-image':'url({{event.pictureUrl}})'}">
						</div>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<a ui-sref="event({ id: event.id })">
							{{ event.id }}
							{{event.name | limitTo: 50}}
						</a>
						<small>{{event.timeScheduled | date:'mediumDate'}}</small>
					</h4>
					<span class="description">
						{{event.description | limitTo: 100 }}...
					</span>
					<div class="labels">
						<span class="small text-muted">Author: authorName</span>
						<span class="small text-muted">Partcipants: {{ event.participantIds.length }}</span>
						<span class="small text-muted">Category: {{ event.category.name }}</span>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
