<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		
		<div class="row">
			<div class="page-header text-center">
				<h1>explore our <span class="hl-word">events</span></h1>
				<p>all events are divided into categories, so that you can choose which you like</p>
			</div>
		</div>

	</div>

	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="row events-grid">
			<div class="media event-item" ng-repeat="event in events">
				<div class="media-left">
					<div class="event-thumb" ng-style="
						{'background-image':'url({{event.pictureUrl}})'}">
					</div>
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						{{event.name | limitTo: 50}} <small>{{event.timeScheduled}}</small>
					</h4>
					<span class="description">
						{{event.description | limitTo: 100 }}...
					</span>
					<div class="labels">
						<span class="small text-muted">Author: authorName</span>
						<span class="small text-muted">Partcipants: {{ event.participantIds.length }}</span>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
