You gonna help to : {{ currEvent.name }}

<h3>List of items needed</h3>

<ul>
	<li ng-repeat="item in currEventItems">
		{{ item.name }}
	</li>
</ul>

<form name="newHelpForm" ng-submit="addItem()">
	<div class="form-group">
		<label class="control-label">Select item</label>
		<select multiple ng-model="helpData.items" name="itemForHelp">
			<option ng-repeat="item in currEventItems" 
				value="{{ item.id }}">
				{{ item.name }}
				</option>
		</select>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary" >
			Send
		</button>
	</div>
</form>
