<div class="container">

	<!-- Welcome Block begin -->
	<div class="row" style="margin-bottom: 60px;" >
		<div class="col-md-8 col-md-offset-2">
			<div class="page-header text-center">
				<h1>welcome to <span class="hl-word">eventkicker</span></h1>
				<p>
					Need a ride? Take Lyft for a welcoming, affordable, and memorable ride. Request a ride in the Lyft app, and get picked up by a reliable community driver in minutes.		
				</p>
			</div>
		</div>
	</div>
	<!-- Welcome Block end -->


	<!-- Features Block begin -->
	<div class="row features">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="text-center">
					<i class="fa fa-calendar"></i>
					<h3>1.Create events</h3>
					<p>With just few clicks create your event's page in our service. Thousands of other users will be able to visit it </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="text-center">
					<i class="fa fa-users"></i>
					<h3>2.Get support</h3>
					<p>Make a list of things you need for the event organization. Get support from other users</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="text-center">
					<i class="fa fa-check-square-o"></i>
					<h3>3.Bring idea to life</h3>
					<p>With the help of well-wishers you can organize your event at the highest level</p>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- Features Block end -->
