<p></p>
<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{ currUser.name || 'No name yet...' }}
				</h3>
			</div>
			<div class="panel-body">

				<div class="media">
					<div class="media-left">
						<div class="event-thumb"
							style="background-image: url(images/ava.png)"></div>
					</div>
					<div class="media-body">
						<p class="description">{{ currUser.username || 'No username yet...' }}</p>
					</div>
				</div>
				
				<h3>User events</h3>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Event</th>
								<th>Created</th>
								<th>Scheduled</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="userEvent in currUserEvents">
								<td>
									<a ui-sref="event({id:userEvent.id})">
										{{ userEvent.name }}</a>
								</td>
								<td>{{ userEvent.timeCreated | date:'mediumDate' }}</td>
								<td>{{ userEvent.timeScheduled | date:'mediumDate' }}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>

